[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
tensorflow = "==1.14"
keras = "==2.2.4"

[dev-packages]

[requires]
python_version = "3.7"
