[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
scikit-learn = "*"
opencv-python = "*"
tensorflow = "==2.5.3"
keras = "==2.2.4"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.7"
